<div class="card-container">
    <div class="container-title">
        <h2 class="title">Join now</h2>
    </div>
    <div class="form">
        <input type="text" class="form-input-text" placeholder="Your name">
        <input type="email" class="form-input-text" placeholder="Your email">
        <button class="form-submit-button">Submit</button>
    </div>
    <div class="footer-container">
        <div class="footer-message">
            <p class="message">We Wish to make you a Good Experience!</p>
        </div>
        <div class="buttons">
            <button class="btn white">Got Any Questions</button>
            <button class="btn black">Contact Us</button>
        </div>
    </div>
</div>