body{
    background: white url(../images/icon-pokeball-gray.svg) no-repeat 50vw -60px;
    background-size: 300px;
}

main{
    padding: 30px;
}

main .top-menu{
    height: 45px;
    margin-bottom: 28px;
}

main .title{
    color: #777C83;
    font-size: 3.6rem;
    margin-bottom: 28px;
}

main .pokemon-list-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

main .pokemon-list-container .pokemon-box{
    padding: 10px 16px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

main .pokemon-list-container .pokemon-box .pokemon-number{
    font-size: 1.4rem;
    align-self: flex-end;
    color: black;
    opacity: 0.3;
}

main .pokemon-list-container .pokemon-box .pokemon-name{
    font-size: 1.8rem;
    color: white;
    margin-bottom: 8px;
    text-transform: capitalize;
}

main .pokemon-list-container .pokemon-box .pokemon-informations{
    display: flex;
    justify-content: space-between;
}

main .pokemon-list-container .pokemon-box .pokemon-informations .pokemon-abilities-list{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

main .pokemon-list-container .pokemon-box .pokemon-informations .pokemon-abilities-list .pokemon-ability{
    user-select: none;
    text-align: center;
    font-size: 1.2rem;
    text-transform: capitalize;
    color: white;
    padding: 6px 15px;
    border-radius: 50px;
    filter: brightness(1.1);
}

main .pokemon-list-container .pokemon-box .pokemon-informations .pokemon-image{
    position: relative;
    width: 85px;
    height: 85px;
    z-index: 50;
}

main .pokemon-list-container .pokemon-box .pokemon-informations .pokemon-image img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

main .pokemon-list-container .pokemon-box .pokemon-informations .pokemon-image img:hover{
    width: 120%;
    height: 120%;
}

main .pokemon-list-container .pokemon-box .background-image{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    bottom: -10px;
    opacity: 0.2;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.pagination button{
    cursor: pointer;
    padding: 10px;
    border-radius: 25px;
    border: none;
    background-color: red;
    font-size: 20px;
    font-weight: 600;
    font-kerning: normal;
    color: white;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.pagination button img{
    height: 25px;
}

.pagination button:hover{
    background-color: rgb(155, 1, 1);
}

.pagination button:hover img{
    height: 30px;
}

@media(max-width: 375px){
    main .pokemon-list-container{
        grid-template-columns: 1fr;
    }

    body{
        background: white url(../images/icon-pokeball-gray.svg) no-repeat 50vw -60px;
        background-size: 250px;
    }

    main .pokemon-list-container .pokemon-box .pokemon-informations .pokemon-image{
        width: 120px;
        height: 120px;
    }

    main .pokemon-list-container .pokemon-box .background-image{
        width: 120px;
        height: 120px;
    }
}

@media(min-width: 750px){
    html {
        font-size: 100%;
    }

    body{
        background: white url(../images/icon-pokeball-gray.svg) no-repeat 75vw -60px;
        background-size: 300px;
    }

    main .pokemon-list-container .pokemon-box .pokemon-informations .pokemon-image{
        width: 150px;
        height: 150px;
    }

    main .pokemon-list-container .pokemon-box .background-image{
        width: 150px;
        height: 150px;
    }
}

@media(min-width: 1280px){
    html {
        font-size: 120%;
    }

    body{
        background-size: 400px;
    }

    main .pokemon-list-container{
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    main .pokemon-list-container .pokemon-box .pokemon-informations .pokemon-image{
        width: 200px;
        height: 200px;
    }

    main .pokemon-list-container .pokemon-box .background-image{
        width: 200px;
        height: 200px;
    }
}

@media(min-width: 1440px){
    html {
        font-size: 130%;
    }

    body{
        background-size: 500px;
    }

    main .pokemon-list-container .pokemon-box .pokemon-informations .pokemon-image{
        width: 230px;
        height: 230px;
    }

    main .pokemon-list-container .pokemon-box .background-image{
        width: 230px;
        height: 230px;
    }
}

@media(min-width: 1920px){
    html {
        font-size: 150%;
    }

    body{
        background-size: 600px;
    }

    main .pokemon-list-container{
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    main .pokemon-list-container .pokemon-box .pokemon-informations .pokemon-image{
        width: 240px;
        height: 240px;
    }

    main .pokemon-list-container .pokemon-box .background-image{
        width: 240px;
        height: 240px;
    }
}

@media(min-width: 2560px){
    html {
        font-size: 180%;
    }

    body{
        background-size: 800px;
    }

    main .pokemon-list-container{
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
    }
}

/* TYPES COLORS */

.bug{
    background-color: #A7B723;
}
.dark{
    background-color: #75574C;
}
.dragon{
    background-color: #7037FF;
}
.electric{
    background-color: #F9CF30;
}
.fairy{
    background-color: #E69EAC;
}
.fighting{
    background-color: #C12239;
}
.fire{
    background-color: #F57D31;
}
.flying{
    background-color: #A891EC;
}
.ghost{
    background-color: #70559B;
}
.grass{
    background-color: #74CB48;
}
.ground{
    background-color: #DEC16B;
}
.ice{
    background-color: #9AD6DF;
}
.normal{
    background-color: #AAA67F;
}
.poison{
    background-color: #A43E9E;
}
.psychic{
    background-color: #FB5584;
}
.rock{
    background-color: #B69E31;
}
.steel{
    background-color: #B7B9D0;
}
.water{
    background-color: #6493EB;
}