.container{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;

    .main-container{
        padding: 40px;

        .page-title{
            user-select: none;
            display: flex;
            align-items: baseline;
            gap: 10px;
            margin-bottom: 65px;
            .link{
                cursor: pointer;
                font-size: 1.7rem;
                font-style: italic;
            }
        }
    }

    .aside-container{
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}