@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 1.6rem;
    overflow-x: hidden;
}

main{
    overflow-x: hidden;
}

li{
    list-style: none;
}

a{
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}