.card-container{
    width: 100%;
    aspect-ratio: 1/1;
    background: url(../../../../../assets/images/moda1.jpg) center center no-repeat;
    background-size: cover;
    background-color: rosybrown;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}